<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card" style="width: 100%;margin:0;padding: 10px;">
        <img class="card-img-top img-fluid" src="assets/images/modern-time-pieces_925x.jpg" alt="Sans &amp; Sans-Serif">
        <div class="card-body">
          <h4 class="card-title">Men's Accessories</h4>
          <a href="#" class="btn btn-warning">Go Shopping</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card" style="width: 100%;margin:0;padding: 10px;">
        <img class="card-img-top img-fluid" src="assets/images/modern-jewelry-and-accessories-on-display_925x.jpg" alt="Measure">
        <div class="card-body">
          <h4 class="card-title">Women's Accessories</h4>
          <button (click)="goToShop()" class="btn btn-warning">Go Shopping</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 10px;margin-bottom: 10px;">
      <div class="card" style="width: 100%;margin:0;padding: 10px;">
        <img class="card-img-top img-fluid" src="assets/images/young-man-in-bright-fashion_925x.jpg" alt="Tracking &amp; Kerning">
        <div class="card-body">
          <h4 class="card-title">Men's Winter Collection</h4>
          <a [routerLink]="'/category'" class="btn btn-warning">Go Shopping</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 10px;margin-bottom: 10px;">
      <div class="card" style="width: 100%;margin:0;padding: 10px;">
        <img class="card-img-top img-fluid" src="assets/images/city-woman-fashion_925x.jpg" alt="Leading">
        <div class="card-body">
          <h4 class="card-title">Women's Winter Collection</h4>
          <a href="#" class="btn btn-warning">Go Shopping</a>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
</div>
